* {
  bg0     : #1b1810;
  bg1     : #23200f;
  bg2     : #322c14;
  bg3     : #574d24;
  fg0     : #fbf3d5;
  fg1     : #e8dcae;
  fg2     : #a89d70;
  red     : #ff6b6b;
  green   : #b8e064;
  yellow  : #ffd933;
  blue    : #7db9e8;
  magenta : #e0a3d6;
  cyan    : #7fd6c1;

  accent: @yellow;
  urgent: @red;
}
